@import "/src/assets/styles/variables.scss";

.children-dashboard{
    .filter-button{
        border-radius: 5px;      
        border: 1px lightgrey;
        font-size: 14px;
        padding: 4px 16px;
        background-color: $white;
        transition: 0.25s ease;
        &:hover{
            background-color: $white-faint1;
            color: $black;
        }
        &:active{
            transform: scale(1.1);
        }
        &:focus{
            outline: none;
        }
    }
    .card-container {
        background-color: white;
        padding: 25px 30px;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid #EAECEE;
    }
    .card {
        background-color: #efca0b;
        color: white;
        border: 1px solid #EAECEE;
    }
    .pie-width {
        flex: 1;
    }
    .flex-container {
        display: flex;
    }


    padding: 40px;
}