@import "/src/assets/styles/variables.scss";

.landing{
    width: 100%;
    min-height: 100vh;
    h1{
        font-weight: 600;
        margin-bottom: 3vh;
        @include mediaW(741px){
            font-size: 2.7em;
        }
        @include mediaW(1100px){
            font-size: 3.5em;
        }
        @include mediaM(741px){
            font-size: 2.1em;
        }
    }
    p{
        opacity: 0.7;
    }
    .sub-info{
        width: 90%;
        max-width: 600px;
        margin: auto;
    }
    .cp-logo{
        width: 120px;
        @include mediaM(741px){
            width: 90px;
        }
    }
}
.center-content{
    margin: calc(10vw + 10vh) auto 2vh;
    text-align: center;
    .scroll-down{
        margin: calc(2vw + 10px) auto 0;
        cursor: pointer;
        p{
            font-weight: 500;
        }
        .scroll-image-holder{
            width: 9px;
            margin: auto;
        }
    }
}