@import '/src/assets/styles/variables.scss';

.pagination-container{
    width: 100%;
    max-width: 350px;
    margin: auto;
    border: 1px solid $black-faint4;
    border-radius: 1px;
    div{
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 5px;
        li{
            // display: none;
            display: inline-block;
            padding: 3px 6px;
            border-radius: 1px;
            cursor: pointer;
            color: $black-faint1;
        }
        .previous, .next{
            color: $black;
            &:hover{
                background-color: $black-faint4;
            }
        }
        .truncked{
            opacity: 0.5;
            pointer-events: none;
        }
        .selected{
            background-color: $black-faint4;
            color: $black;
        }
    }
}