@import "/src/assets/styles/variables.scss";

.facilitator-list{
    .card-container {
        background-color: white;
        padding: 5px 30px;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #EAECEE;
    }
}

.tabbed-facilitator-list{
    padding-top: 20px;
    li.nav-item {
        font-size: 14px;
    }
    .nav-link {
        display: block;
        padding: 5px 15px;
        font-size: 14px;
        background-color: transparent;
        outline: none !important;
        border: none;
    }
    .nav-link.active {
        color: #495057;
        border-bottom: 3px solid #69BF61 !important;
        font-weight: 700;
        background-color: transparent;
        outline: none !important;
        border: none;
    }
    .filter-button, .download-button {
        border-radius: 5px;      
        border: 1px lightgrey;
        font-size: 14px;
        padding: 4px 16px;
        background-color: $white;
        transition: 0.25s ease;
        &:hover{
            background-color: $white-faint1;
            color: $black;
        }
        &:active{
            transform: scale(1.1);
        }
        &:focus{
            outline: none;
        }
    }
    padding: 40px;
}