@import '/src/assets/styles/variables.scss';

.bar{
    .profile{
        background-color: $primary-blue;
        padding: 1.1em 0.8em;
        .store-image{
            width: 60%;
            max-width: 140px;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
    .user-info{
        background-color: $white-faint4;
        padding: 10px;
        border-radius: 6px;
        position: relative;
        .settings-drop-down{
            position: absolute;
            width: 110px;
            padding-top: 8%;
            top: 100%;
            right: 0;
            transition: 0.4s ease;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            .clip-area{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                clip-path: polygon(0 20%, 70% 20%, 80% 0, 90% 20%, 100% 20%, 100% 95%, 0 95%);
                background-color: $white;
            }
            .text-area{
                padding: 6px 0;
                box-shadow: -2px 3px 5px 0 $black-faint3;
                // border: 1px solid $black-faint5;
                border-top: none;
                width: 100%;
                background-color: $white;
                border-radius: 3px;
                position: relative;
                p{
                    color: $black-faint2;
                    font-size: 0.8em;
                    margin-bottom: 0;
                    cursor: pointer;
                    padding: 5px 10px;
                    transition: 0.3s ease;
                    &:hover{
                        background-color: $grey-lighter;
                    }
                    i{
                        font-size: 0.9em;
                    }
                }
            }
        }
        &:hover{
            .settings-drop-down{
                max-height: 130px;
                opacity: 1;
                overflow: visible;
            }
        }
    }
    .route-sect{
        padding: 2em 0.8em;
    }
    .section-label{
        color: $black;
        text-transform: uppercase;
        font-size: 0.6em;
        font-weight: 600;
        min-height: 4px;
        margin-bottom: 0.3em;
        margin-top: 1.7em;
    }
    a{
        display: block;
    }
    .bar-link{
        border-radius: 5px;
        // border: 1.5px dashed $transparent;
        padding: 6px 10px;
        width: 100%;
        background-color: $white-faint4;
        opacity: 0.6;
        transition: 0.25s ease;
        color: $black;
        margin-top: 0.1em;
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
            font-size: 0.7em;
        }
        &:hover{
            // border: 1.5px dashed $white-faint1;
            // background-color: $white-faint4;
            // color: $white;
            background-color: #fbead7;
        }
    }
    .selected{
        background-color: #ffe5c7;
        opacity: 1;
        // border: 1.5px solid $white-faint2;
        // color: $primary-green-active;
        font-weight: 500;
        // pointer-events: none;
    }
    .brand-tag{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        color: $black-faint1;
        text-align: center;
        p{
            font-size: 0.7em;
        }
    }
}